Repository EternalRival/RSSchool-REACT2023Q4: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:cmd -- -w, npm run lint:cmd -- --fix, npm run lints:cmd -- --fix

.lintstagedrc:

{
  "*": "npm run format:cmd -- -w",
  "*.{ts,tsx}": "npm run lint:cmd -- --fix",
  "*.css": "npm run lints:cmd -- --fix"
}

fix: repair local storage test
  src/app/store/index.tsx
  src/app/store/model/context.ts
  src/app/store/model/types.type.ts
  src/features/pagination/pagination.spec.tsx
  src/features/search/index.tsx
  src/features/search/search.spec.tsx
  src/shared/constants/index.ts
  src/tests/test-utils.tsx
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix

ci: update dependencies
  package-lock.json
  package.json
Due: npm run format:cmd -- -w

feat: add searchValue to rtk
  .husky/pre-push
  assignment.md
  package-lock.json
  package.json
  src/app/index.tsx
  src/app/redux/hooks.ts
  src/app/redux/search-value/search-value-slice.ts
  src/app/redux/store.ts
  src/features/search/index.tsx
  src/index.tsx
  src/pages/main-page/index.tsx
  src/widgets/bottom-section/index.tsx
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix

feat: transfer fetchedList to redux
  package-lock.json
  package.json
  src/app/index.tsx
  src/app/redux/api/myshows.service.ts
  src/app/redux/slices/items-per-page-slice.ts
  src/app/redux/slices/loading-details-flag-slice.ts
  src/app/redux/slices/loading-list-flag-slice.ts
  src/app/redux/slices/search-value-slice.ts
  src/app/redux/store.ts
  src/app/store/index.tsx
  src/app/store/model/context.ts
  src/app/store/model/enums.ts
  src/app/store/model/reducer.ts
  src/app/store/model/types.type.ts
  src/entities/card/card.spec.tsx
  src/entities/detailed-card/detailed-card.spec.tsx
  src/entities/detailed-card/index.tsx
  src/entities/detailed-card/lib/use-fetch-detailed-card-data.tsx
  src/features/card-list/card-list.spec.tsx
  src/features/card-list/index.tsx
  src/features/pagination/index.tsx
  src/features/pagination/pagination.spec.tsx
  src/features/search/index.tsx
  src/features/search/search.spec.tsx
  src/pages/main-page/lib/use-fetch-card-list-data.tsx
  src/shared/api/myshows/myshows.service.ts
  src/shared/api/myshows/tests/typeguards.spec.ts
  src/shared/api/myshows/typeguards/is-api-episode-summary.guard.ts
  src/shared/api/myshows/typeguards/is-api-network.guard.ts
  src/shared/api/myshows/typeguards/is-api-online-link.guard.ts
  src/shared/api/myshows/typeguards/is-api-show-summary.guard.ts
  src/shared/api/myshows/typeguards/is-get-by-id-response-body.guard.ts
  src/tests/test-utils.tsx
  src/widgets/bottom-section/index.tsx
  tsconfig.json
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix

feat: add demo store component
  src/app/index.tsx
  src/app/redux/slices/details-flags-slice.ts
  src/app/redux/slices/list-flags-slice.ts
  src/app/redux/slices/loading-details-flag-slice.ts
  src/app/redux/slices/loading-list-flag-slice.ts
  src/app/redux/store.ts
  src/entities/detailed-card/index.tsx
  src/features/demo/demo.module.css
  src/features/demo/index.tsx
  src/widgets/bottom-section/index.tsx
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix, npm run lints:cmd -- --fix

refactor: prepare to transfer tests
  src/app/index.tsx
  src/app/redux/api/myshows.service.ts
  src/app/redux/store.tsx
  src/shared/api/myshows/model/mock-details-response.json
  src/shared/api/myshows/model/mock-list-response.json
  src/shared/api/myshows/types/api-show-summary.type.ts
  src/shared/api/myshows/types/get-by-id-response-body.type.ts
  src/shared/constants/index.ts
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix

test: add msw
  package-lock.json
  package.json
  src/tests/mock/mock-details-response.ts
  src/tests/mock/mock-list-response.ts
  src/tests/mock/server.ts
  src/tests/test-utils.tsx
  src/tests/vitest-setup.ts
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix

test: transfer cardlist tests
  src/features/card-list/card-list.spec.tsx
  src/features/card-list/card-list.specc.tsx
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix

test: transfer card tests
  src/entities/card/card.specc.tsx
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix

test: transfer detailed card tests
  src/app/router/index.tsx
  src/entities/card/card.spec.tsx
  src/entities/detailed-card/detailed-card.module.css
  src/entities/detailed-card/detailed-card.spec.tsx
  src/entities/detailed-card/index.tsx
  src/features/detailed-section/detailed-section.module.css
  src/features/detailed-section/detailed-section.spec.tsx
  src/features/detailed-section/index.tsx
  src/tests/mock/server.ts
  src/tests/test-utils.tsx
  vite.config.ts
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix, npm run lints:cmd -- --fix

test: transfer pagination tests
  src/features/detailed-section/detailed-section.spec.tsx
  src/features/pagination/pagination.spec.tsx
  src/tests/mock/server.ts
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix

test: transfer search tests
  src/features/search/search.spec.tsx
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix

test: add missing tests
  src/app/app.spec.tsx
  src/entities/card/card.specc.tsx
  src/features/card-list/card-list.specc.tsx
  src/features/error-throwing-button/error-throwing-button.spec.tsx
  src/pages/error-page/error-page.spec.tsx
  src/pages/main-page/main-page.spec.tsx
  src/pages/not-found-page/not-found-page.spec.tsx
  src/shared/lib/is-null-or-undefined.ts
  src/shared/lib/is-types-correct.ts
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix

ci: restore husky test running command
  .husky/pre-push
Due: npm run format:cmd -- -w

refactor: clean project
  .lintstagedrc
  package.json
  src/app/redux/store.tsx
  src/pages/error-page/error-page.spec.tsx
  src/shared/api/myshows/types/get-request-body-search.type.ts
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix

fix: restore page reset on submit
  src/features/search/index.tsx
  vite.config.ts
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix

fix: repair card test for os windows
  src/entities/card/card.spec.tsx
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix

feat: generate next boilerplate
  .eslintrc.json
  .gitignore
  README.md
  next.config.js
  package-lock.json
  package.json
  postcss.config.js
  public/favicon.ico
  public/next.svg
  public/vercel.svg
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/api/hello.ts
  src/pages/index.tsx
  src/styles/globals.css
  tailwind.config.ts
  tsconfig.json
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix, npm run lints:cmd -- --fix

feat: restore top and bottom section
  .prettierrc
  package-lock.json
  package.json
  pages/_app.tsx
  pages/_document.tsx
  pages/api/hello.ts
  pages/index.tsx
  public/next.svg
  public/vercel.svg
  src/features/error-throwing-button/index.tsx
  src/features/error-throwing-button/ui/error-button-icon.tsx
  src/features/search/index.tsx
  src/features/search/ui/search-icon.tsx
  src/pages/index.tsx
  src/pages/main-page/index.tsx
  src/shared/constants.ts
  src/shared/styles/globals.css
  src/styles/globals.css
  src/widgets/bottom-section/index.tsx
  src/widgets/top-section/index.tsx
  tailwind.config.ts
  tsconfig.json
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix, npm run lints:cmd -- --fix

feat: restore api mocks and types
  src/shared/api/myshows/types/api-episode-summary.type.ts
  src/shared/api/myshows/types/api-network.type.ts
  src/shared/api/myshows/types/api-online-link.type.ts
  src/shared/api/myshows/types/api-response-error.type.ts
  src/shared/api/myshows/types/api-show-summary.type.ts
  src/shared/api/myshows/types/get-by-id-request-body.type.ts
  src/shared/api/myshows/types/get-by-id-request.type.ts
  src/shared/api/myshows/types/get-by-id-response-body.type.ts
  src/shared/api/myshows/types/get-by-id-response.type.ts
  src/shared/api/myshows/types/get-request-body-search.type.ts
  src/shared/api/myshows/types/get-request-body.type.ts
  src/shared/api/myshows/types/get-request.type.ts
  src/shared/api/myshows/types/get-response.type.ts
  src/tests/mock/mock-details-response.ts
  src/tests/mock/mock-list-response.ts
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix

feat: restore pagination
  src/features/pagination/index.tsx
  src/widgets/bottom-section/index.tsx
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix

feat: restore cardlist and card
  next.config.js
  src/entities/card/index.tsx
  src/entities/card/ui/card-image-placeholder.webp
  src/features/card-list/index.tsx
  src/shared/constants.ts
  src/shared/styles/globals.css
  src/widgets/bottom-section/index.tsx
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix, npm run lints:cmd -- --fix

feat: restore detailed card
  src/entities/detailed-card/index.tsx
  src/entities/detailed-card/ui/close-icon.tsx
  src/features/error-throwing-button/ui/error-button-icon.tsx
  src/features/search/ui/search-icon.tsx
  src/pages/main-page/index.tsx
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix

feat: restore image placeholder
  pages/test.tsx
  src/entities/spinner/index.tsx
  src/entities/spinner/ui/spinner-image.webp
  tailwind.config.ts
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix

feat: restore detailed section
  pages/404.tsx
  src/features/detailed-section/index.tsx
  src/features/skeleton/index.tsx
  src/features/skeleton/model/skeleton-props.type.ts
  src/pages/main-page/index.tsx
  src/pages/not-found-page/index.tsx
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix

feat: restore lint-staged
  .eslintrc
  .eslintrc.json
  .lintstagedrc.js
  .stylelintrc
  package-lock.json
  package.json
  pages/404.tsx
  pages/_app.tsx
  pages/_document.tsx
  pages/api/hello.ts
  pages/index.tsx
  pages/test.tsx
  src/shared/styles/globals.css
  src/tests/mock/mock-details-response.ts
  src/tests/mock/mock-list-response.ts
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix, npm run lints:cmd -- --fix

ci: restore husky
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.js
  package-lock.json
  package.json
Due: npm run format:cmd -- -w

feat: update favicon
  public/favicon.ico
Due: npm run format:cmd -- -w

feat: restore functionality
  TODO.md
  package-lock.json
  package.json
  pages/404.tsx
  pages/_document.tsx
  pages/api/hello.ts
  pages/index.tsx
  src/entities/card/index.tsx
  src/entities/detailed-card/index.tsx
  src/features/detailed-section/index.tsx
  src/features/search/index.tsx
  src/pages/main-page/index.tsx
  src/pages/not-found-page/index.tsx
  src/shared/api/myshows/requests.ts
  src/shared/constants.ts
  src/widgets/bottom-section/index.tsx
  src/widgets/top-section/index.tsx
  tailwind.config.ts
  tsconfig.json
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix

test: add vitest
  TODO.md
  package-lock.json
  package.json
  pages/test.tsx
  src/entities/card/index.tsx
  src/entities/detailed-card/detailed-card.spec.tsx
  src/features/card-list/card-list.spec.tsx
  src/features/search/index.tsx
  src/pages/404.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
  src/shared/api/myshows/mocks/mock-details-response.ts
  src/shared/api/myshows/mocks/mock-list-response.ts
  src/shared/api/myshows/requests.ts
  src/shared/lib/is-object.ts
  src/tests/server.ts
  src/tests/test-utils.ts
  src/tests/vitest-setup.ts
  tsconfig.json
  vitest.config.mts
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix

test: restore tests (still broken)
  .prettierrc
  package.json
  src/entities/card/card.spec.tsx
  src/entities/detailed-card/detailed-card.spec.tsx
  src/features/card-list/card-list.spec.tsx
  src/features/pagination/pagination.spec.tsx
  src/features/search/search.spec.tsx
  src/pages/index.tsx
  src/tests/test-utils.ts
  src/tests/test-utils.tsx
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix

test: restore coverage option
  TODO.md
  package-lock.json
  package.json
  src/entities/card/card.spec.tsx
  src/entities/detailed-card/detailed-card.spec.tsx
  src/entities/spinner/index.tsx
  src/entities/spinner/ui/spinner-image.webp
  src/features/card-list/card-list.spec.tsx
  src/features/skeleton/index.tsx
  src/features/skeleton/model/skeleton-props.type.ts
  src/tests/mocks/mock-details-response.ts
  src/tests/mocks/mock-list-response.ts
  src/tests/server.ts
  src/tests/test-utils.tsx
  vitest.config.mts
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix

test: update coverage
  TODO.md
  src/entities/card/card.spec.tsx
  src/entities/detailed-card/detailed-card.spec.tsx
  src/features/error-boundary/index.tsx
  src/features/error-throwing-button/error-throwing-button.spec.tsx
  src/features/error-throwing-button/index.tsx
  src/features/pagination/pagination.spec.tsx
  src/features/search/search.spec.tsx
  src/pages/404.spec.tsx
  src/pages/500.spec.tsx
  src/pages/500.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.spec.tsx
  src/pages/index.tsx
  src/shared/api/myshows/requests.spec.ts
  src/shared/api/myshows/requests.ts
  src/shared/lib/is-object.spec.ts
  src/tests/mocks/mock-home-page-props.ts
  src/tests/mocks/mock-list-response.ts
  src/tests/test-utils.tsx
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix

feat: exclude test files from routes
  next.config.js
  src/features/pagination/pagination.spec.tsx
  src/pages/404.page.tsx
  src/pages/404.spec.tsx
  src/pages/500.page.tsx
  src/pages/500.spec.tsx
  src/pages/_app.page.tsx
  src/pages/index.page.tsx
  src/pages/index.spec.tsx
  src/tests/mocks/mock-home-page-props.ts
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix

init: generate boilerplate for task
  .eslintrc.cjs
  .github/pull_request_template.md
  .gitignore
  README.md
  index.html
  package.json
  public/vite.svg
  src/App.css
  src/App.tsx
  src/assets/react.svg
  src/index.css
  src/main.tsx
  src/vite-env.d.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix, npm run lints:cmd -- --fix

build: init project configs
  .eslintrc.cjs
  .prettierrc
  package-lock.json
  package.json
  tsconfig.json
Due: npm run format:cmd -- -w

ci: add husky
  .husky/pre-commit
  .prettierrc
  README.md
  package-lock.json
  package.json
  src/App.css
  src/App.tsx
  src/index.css
  src/main.tsx
  vite.config.ts
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix, npm run lints:cmd -- --fix

build: add rhf, yup, redux+rtk and react-router to project
  package-lock.json
  package.json
Due: npm run format:cmd -- -w
