Repository EternalRival/RSSchool-REACT2023Q4: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:cmd -- -w, npm run lint:cmd -- --fix, npm run lints:cmd -- --fix

.lintstagedrc:

{
  "*": "npm run format:cmd -- -w",
  "*.{ts,tsx}": "npm run lint:cmd -- --fix",
  "*.css": "npm run lints:cmd -- --fix"
}

build: add tailwind
  package-lock.json
  package.json
  tailwind.config.ts
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix

feat: remove boilerplate app
  .postcssrc
  index.html
  package-lock.json
  package.json
  public/vite.svg
  src/App.css
  src/App.tsx
  src/app/index.tsx
  src/assets/react.svg
  src/globals.css
  src/index.css
  src/index.tsx
  src/main.tsx
  src/vite-env.d.ts
  tailwind.config.ts
  tsconfig.json
  vite.config.ts
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix, npm run lints:cmd -- --fix

feat: add router
  .eslintrc.cjs
  package-lock.json
  package.json
  src/app/index.tsx
  src/app/router/index.tsx
  src/index.tsx
  src/pages/error-page.tsx
  src/pages/main-page.tsx
  src/pages/not-found-page.tsx
  src/pages/react-hook-form-page.tsx
  src/pages/uncontrolled-components-page.tsx
  src/shared/enums/endpoint.enum.ts
  tailwind.config.ts
  tsconfig.json
  vite.config.ts
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix

feat: add store
  src/app/redux/hooks.ts
  src/app/redux/slices/first.slice.ts
  src/app/redux/store.ts
  src/pages/error.page.tsx
  src/pages/main.page.tsx
  src/pages/not-found.page.tsx
  src/pages/react-hook-form.page.tsx
  src/pages/uncontrolled-components.page.tsx
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix

build: remove tailwind
  .postcssrc
  package-lock.json
  package.json
  tailwind.config.ts
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix

feat: add first form
  README.md
  src/app/redux/slices/first.slice.ts
  src/app/router/index.tsx
  src/entities/tile.tsx
  src/features/navigation.tsx
  src/features/submit-tiles.tsx
  src/globals.css
  src/pages/main.page.tsx
  src/pages/uncontrolled-components.page.tsx
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix, npm run lints:cmd -- --fix

feat: add validators
  package.json
  src/app/index.tsx
  src/app/redux/slices/first.enum.ts
  src/app/redux/slices/first.slice.ts
  src/app/redux/slices/first.type.ts
  src/app/redux/store.ts
  src/app/router/index.tsx
  src/features/form-input.tsx
  src/features/form-password-input.tsx
  src/features/submit-tiles.tsx
  src/globals.css
  src/pages/uncontrolled-components.page.tsx
  src/shared/enums/endpoint.enum.ts
  src/shared/hooks/useValidateState.ts
  src/shared/validation/lib/validate.ts
  src/shared/validation/schemas/email.schema.ts
  src/shared/validation/schemas/first-uppercased.schema.ts
  src/shared/validation/schemas/has-lowercased.schema.ts
  src/shared/validation/schemas/has-number.schema.ts
  src/shared/validation/schemas/has-special.schema.ts
  src/shared/validation/schemas/has-uppercased.schema.ts
  src/shared/validation/schemas/is-on.schema.ts
  src/shared/validation/schemas/is-string.schema.ts
  src/shared/validation/schemas/positive-number.schema.ts
  src/shared/validators/age.validator.ts
  src/shared/validators/email.validator.ts
  src/shared/validators/gender.validator.ts
  src/shared/validators/name.validator.ts
  src/shared/validators/password.validator.ts
  src/shared/validators/picture.validator.ts
  src/shared/validators/terms.validator.ts
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix, npm run lints:cmd -- --fix

feat: add picture validation
  src/features/form-input.tsx
  src/features/form-password-input.tsx
  src/pages/uncontrolled-components.page.tsx
  src/shared/lib/file-converter.ts
  src/shared/validation/schemas/has-small-size.schema.ts
  src/shared/validation/schemas/is-jpg-or-png.schema.ts
  src/shared/validators/picture.validator.ts
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix

feat: add countries.json
  src/shared/json/countries.json
Due: npm run format:cmd -- -w

refactor: move validators to validation subdir
  src/features/form-password-input.tsx
  src/pages/uncontrolled-components.page.tsx
  src/shared/validation/validators/age.validator.ts
  src/shared/validation/validators/email.validator.ts
  src/shared/validation/validators/gender.validator.ts
  src/shared/validation/validators/name.validator.ts
  src/shared/validation/validators/password.validator.ts
  src/shared/validation/validators/picture.validator.ts
  src/shared/validation/validators/terms.validator.ts
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix

feat: add countries to store
  src/app/redux/slices/countries.slice.ts
  src/app/redux/slices/first.enum.ts
  src/app/redux/slices/first.slice.ts
  src/app/redux/slices/first.type.ts
  src/app/redux/store.ts
  src/pages/uncontrolled-components.page.tsx
  src/shared/lib/file-converter.ts
  src/shared/lib/validate-form.ts
  src/shared/validation/validators/country.validator.ts
  src/shared/validation/validators/picture.validator.ts
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix

refactor: move form to widget
  index.html
  src/app/redux/slices/first.slice.ts
  src/app/redux/store.ts
  src/entities/tile.tsx
  src/features/submit-tiles.tsx
  src/globals.css
  src/pages/react-hook-form.page.tsx
  src/pages/uncontrolled-components.page.tsx
  src/widgets/uncontrolled-form.tsx
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix, npm run lints:cmd -- --fix

feat: add favicon
  index.html
  public/favicon.ico
Due: npm run format:cmd -- -w

feat: add rfh form
  package-lock.json
  package.json
  src/app/redux/slices/first.slice.ts
  src/features/form-input-password.rhf.tsx
  src/features/form-input.rhf.tsx
  src/features/form-password-input.tsx
  src/globals.css
  src/pages/react-hook-form.page.tsx
  src/pages/uncontrolled-components.page.tsx
  src/shared/lib/validate-form.ts
  src/shared/validation/schemas/email.schema.ts
  src/shared/validation/schemas/first-uppercased.schema.ts
  src/shared/validation/schemas/has-lowercased.schema.ts
  src/shared/validation/schemas/has-number.schema.ts
  src/shared/validation/schemas/has-special.schema.ts
  src/shared/validation/schemas/has-uppercased.schema.ts
  src/shared/validation/schemas/is-on.schema.ts
  src/shared/validation/schemas/is-string.schema.ts
  src/shared/validation/schemas/positive-number.schema.ts
  src/shared/validation/schemas/valid-password.schema.ts
  src/shared/validation/schemas/valid-picture.schema.ts
  src/shared/validation/validators/password.validator.ts
  src/shared/validation/validators/terms.validator.ts
  src/widgets/react-hook-form/index.tsx
  src/widgets/react-hook-form/types/form-fields.type.ts
  src/widgets/react-hook-form/validation/rhf-composed.schema.ts
  src/widgets/uncontrolled-components-form/index.tsx
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix, npm run lints:cmd -- --fix

refactor: optimize validators
  src/features/form-input-password.tsx
  src/features/form-input.rhf.tsx
  src/features/form-input.tsx
  src/features/form-password-input.tsx
  src/features/navigation.tsx
  src/pages/react-hook-form.page.tsx
  src/shared/hooks/useValidateState.ts
  src/shared/lib/validate-form.ts
  src/shared/validation/lib/validate.ts
  src/shared/validation/schemas/composed-form.schema.ts
  src/shared/validation/schemas/has-small-size.schema.ts
  src/shared/validation/schemas/is-jpg-or-png.schema.ts
  src/shared/validation/schemas/is-on-or-true.schema.ts
  src/shared/validation/schemas/is-on.schema.ts
  src/shared/validation/schemas/valid-picture.schema.ts
  src/shared/validation/types/form-fields.type.ts
  src/shared/validation/validators/age.validator.ts
  src/shared/validation/validators/country.validator.ts
  src/shared/validation/validators/email.validator.ts
  src/shared/validation/validators/gender.validator.ts
  src/shared/validation/validators/name.validator.ts
  src/shared/validation/validators/password.validator.ts
  src/shared/validation/validators/picture.validator.ts
  src/shared/validation/validators/terms.validator.ts
  src/widgets/react-hook-form.tsx
  src/widgets/uncontrolled-components-form.tsx
  src/widgets/uncontrolled-components-form/index.tsx
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix

feat: change required messages
  src/shared/validation/schemas/email.schema.ts
  src/shared/validation/schemas/first-uppercased.schema.ts
  src/shared/validation/schemas/is-on-or-true.schema.ts
  src/shared/validation/schemas/is-string.schema.ts
  src/shared/validation/schemas/positive-number.schema.ts
  src/shared/validation/schemas/valid-password.schema.ts
  src/shared/validation/schemas/valid-picture.schema.ts
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix

feat: add more special chars
  src/shared/validation/schemas/valid-password.schema.ts
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix

fix: repair password regex
  src/shared/validation/schemas/valid-password.schema.ts
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix

refactor: remove console logs
  src/widgets/react-hook-form.tsx
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix

feat: add more special chars to password regex
  src/shared/validation/schemas/valid-password.schema.ts
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix

feat: add strict rules
  .eslintrc.cjs
  package-lock.json
  package.json
  src/app/index.tsx
  src/app/redux/slices/countries.slice.ts
  src/app/redux/slices/first.slice.ts
  src/entities/tile.tsx
  src/features/form-input-password.tsx
  src/features/form-input.tsx
  src/features/submit-tiles.tsx
  src/index.tsx
  src/pages/error.page.tsx
  src/pages/not-found.page.tsx
  src/pages/react-hook-form.page.tsx
  src/pages/uncontrolled-components.page.tsx
  src/shared/lib/file-converter.ts
  src/shared/lib/get-uuid.ts
  src/shared/lib/is-object.ts
  src/shared/validation/schemas/is-on-or-true.schema.ts
  src/shared/validation/schemas/valid-password.schema.ts
  src/shared/validation/schemas/valid-picture.schema.ts
  src/shared/validation/types/form-fields.type.ts
  src/widgets/react-hook-form.tsx
  src/widgets/uncontrolled-components-form.tsx
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: npm run format:cmd -- -w, npm run lint:cmd -- --fix
